<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="calcolatrice_servizioSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:53496/calcolatrice_servizio.asmx"
                binding="basicHttpBinding" bindingConfiguration="calcolatrice_servizioSoap"
                contract="calcolatrice_servizio.calcolatrice_servizioSoap"
                name="calcolatrice_servizioSoap" />
        </client>
    </system.serviceModel>
</configuration>