body {
    min-height: 100vh;
    position: relative;
    margin: 0;
    padding-bottom: 70px;
    box-sizing: border-box;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
img {
    max-width: 100%;
    max-height: 100%;
}

.imgPt {
    padding: 25px 15px 15px 15px;
    background-color: white;
}

.center {
    text-align: center;
}
#sopra {
    margin-top: 5px;
}
#sotto {
    margin-bottom: 15px;
}
.imgText {
    padding-top: 5px;
}
.checked {
    color: coral;
}
.card {
    border: 1px solid lightslategray;
    margin-bottom: 20px;
}
.toRight {
    position: absolute; right: 10px
}