/* Html Body normal css */
html, body {
    margin: 0 !important;
    padding: 0 !important;
    scroll-behavior: smooth;
    height: 100vh;

}

/* Nav Things */
#top {
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 100%;
    max-width: 100%;
    height: 20%;
}

/* Logo sizes */
#logoSmall {
    height: 50px;
    width: 80px;
}

/* Inside nav */
#nav {
    background-color: #141414 !important;
    border-bottom: solid #40934d 5px;
    width: 100%;
    z-index: 2;
}

/* Add line when we press the button in small screen */
@media (max-width: 988px) {
    #navbarResponsive {
        border-top: 1px #40934d solid;
        margin-top: 8px;
    }
}

/* Main Content, we use display: Flex and flex-flow: column for making the actual content
   full size
 */
#content {
    height: 100%;
    display: flex;
    flex-flow: column;

}

/* Padding for the nav */
#padding-header {
    height: 81px;
    min-height: 81px;
}

/* Main Content CSS */
#mainContent {
    background-color: transparent;
    flex-grow: 1;
    z-index: 1;
}
