
*{margin:0;padding:0;}
a{text-decoration:none;color:inherit}
body {
  background:#ddd
}
#page {
  width:100%;
  margin:0 auto;
  position:relative;
}
div.top {
  top:0px;
  right:0px;
  left:0px;
  height:50px;
  background:white;
  box-shadow: 0 2px .1px rgba(0,0,0,.3);
}
.top div.content {
  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:270px;
  height:50px;
  width:calc(100% - 270px);
}
.top .user {
  position:relative;
  top:0px;
  right:0px;
  bottom:0px;
  width:300px;
  float:right;
}
.user i.fa-bell {
  position:absolute;
  top:10px;
  left:10px;
}
.user i.fa-bell span {
  font-size:10px;
  position:absolute;
  top:5px;
  right:0;
  color:white;
  background:#c0392b;
  padding:1px 2px 1px 1px;
  border-radius:2px;
  text-align:center;
}
.top #name {
  position:absolute;
  height:50px;
  width:calc(100% - 95px);
  font-family:"Open Sans", sans-serif;
  font-weight:600;
  -webkit-text-stroke: 0.20px;
  padding:15px 0 0 0;
  text-align:right;
}
#name span {
  font-weight:400;
}
#name:hover span{
  color:#00BC99
}
#name i {
  cursor:pointer;
  color:#00BC99;
}
#name i:hover {
  text-shadow:0 0 4px rgba(0, 188, 153, .3)
}
.top #profilepic {
  background:url(http://placehold.it/40.png);
  border-radius:50%;
  -webkit-border-radius:50%;
  height:40px;
  width:40px;
  margin:5px 50px 0 0;
  float:right;
}
div.logo {
  font-family: 'Comfortaa', cursive;
  font-weight:300;
  color:white;
  background:#00BC99;
  font-size:2.5em;
  text-align:center;
  -webkit-text-stroke: 0.35px;
  width:270px;
  position:relative;
  height:50px;
  left:0px;
  z-index:99999;
  transition: left ease-in-out .2s;
}
.logo .small {
  position:absolute;
  top:-19px;
  right:0px;
  padding:0 3px 19px 3px;
  width:50px;
  height:50px;
  font-size:1.5em;
  cursor:pointer;
  color:rgba(255,255,255,.5);
  -webkit-text-stroke:0;
}
.logo .small:hover {
  color:white;
  background:rgba(255,255,255,.2);
}
div.sidebar {
  position:fixed;
  top:50px;
  bottom:0px;
  width:270px;
  height:100%;
  background:#1a1c1f;
  left:0px;
  transition: left ease-in-out .2s;
  box-shadow:1px 0px 4px  rgba(0,0,0,.4);
}
.sidebar li {
  font-family:"Open Sans", sans-serif;
  font-weight:300;
  color:white;
  max-height:50px;
  text-transform:uppercase;
  max-width:270px;
  font-size:18px;
  text-align:right;
  border-bottom:1px dotted rgba(194,194,194,.1);
  padding:10px 60px 10px 10px;
  position:relative;
  letter-spacing:.3em;
  transition:box-shadow ease-in-out .1s;
}
.sidebar li nos {
  letter-spacing:0;
}
.sidebar li.active span {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 22.5px 0 22.5px 6px;
  border-color: transparent transparent transparent #1a1c1f;
  position:absolute;
  right:-6px;
  top:0;
}
.sidebar li.active a {
  font-weight:500;
}
.sidebar li.active i,sidebar li.hover i {
  color:#00BC99;
}
.sidebar li a {
  padding-bottom:10px;
}
.sidebar li.active a, .sidebar li.hover a {
  color:#00BC99;
  text-shadow:0 0 4px rgba(0, 188, 153, .3);
  border-bottom:1px dotted #00BC99;
}
.sidebar i {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  padding:4px 2px 0 0;
  width:50px;
  text-align:center;
}
.sidebar li:not(.active):hover {
  color:#00BC99;
  text-shadow:0 0 4px rgba(0, 188, 153, .3);
  box-shadow:4px 0 0 rgba(0, 188, 153, .3);
}
#page-content {
  position:fixed;
  top:50px;
  left:270px;
  bottom:0px;
  right:0px;
  transition: left ease-in-out .2s;
}